.qiita-widget {
    background: none !important;
    text-decoration: none !important;
    margin: 0 0 0 2px;
    border: none !important;
    display: inline !important;
}

.qiita-widget > img {
    border: none;
    vertical-align: middle;
    width: 20px;
}

.qiita-widget > span {
  margin: 0 0 0 10px;
  font-size: 15px;
  font-weight: 700;
  color: #444;
}


